
*{
  box-sizing: border-box;
}
html,body,main{
   height: 100%;
 }

 .header-container{
   height: 100%;
   background-color: #ff3838;
 }
/*NAVIGATION*/
 .navigation-container{
   display: flex;
   height: 10%;
}


.menu-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ff4d4d;
 }
 
 .link{
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 160%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.50s;
 }

 .link:hover{
  border-bottom: 2px solid #d50000;
 }
/*END OF NAVIGATION*/

/*Title container*/
 .title-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80%;
 }

 .title-container > .title{
   font-family: Roboto;
   font-weight: 900;
   font-size: 380%;
   color: #fff;
 }
 /*END OF TITLE CONTAINER*/

 /*ABOUT SECTION*/
 
 .sub {
   text-align: center;
   font-family: Roboto;
   font-size: 250%;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
 }
 
 .about-section{
   padding: 80px 0px;
   height: 60%;
   background-color: #ff5e5e;
 }



.text-container{
  text-align: justify;
  color: #fff;
  font-size: 150%;
  padding-top: 80px;
  width: 70%;
  margin: 0px auto;
}



 /*END OF ABOUT SECTION*/

 /*PROJECTS*/

 .projects-section {
   padding: 80px 0px;
   height: auto;
   background-color: #f1f2f6;
   
 }

 .sub-title{
   text-align: center;
   font-family: Lato;
   font-size: 250%;
  
   text-transform: uppercase;
   color: black;
 }

 .projects-container {
   text-align: justify;
   color: black;
   font-size: 150%;
   padding-top: 80px;
   margin: 0px auto;
   height: 100%;
 }

 .projects-list{
   display: flex;
   justify-content: space-evenly;
   height: 100%;
   width: 100%;
   flex-wrap: wrap;
 }

 .card{
   width: 20%;
   margin: 10px;
   border: 1px solid #bdc3c7;
   border-radius: 12px;
   height: 100%;
 }

 .card:hover{
   opacity: 1;
 }

 img{
   display: block;
   margin: 20px auto;
   width: 70%;
   height: 40%;
 }


 .description{
   font-size: 70%;
   width: 80%;
   color: black;
   font-family: Roboto;
   margin: 0px auto;
 }

 .btn{
   text-decoration: none;
   color: white;
   border: 1px solid blue;
   border-radius: 12px;
   display: block;
   text-align: center;
   background-color: #2f3542;
   width: 50%;
   padding: 8px;
   margin: 30px auto;
   font-size: 70%;
 }
 /*END OF PROJECTS SECTION*/

 /*CONTACT SECTION*/
 .contact-section{
   background-color: #2f3542;
    height: 100%;
   padding: 80px 0px;
 }

 .contact-title{
   color: white;
   font-family: Roboto;
   font-weight: 900;
   font-size: 240%;
   text-transform: uppercase;
   text-align: center;
  
 }
 form{
   height: 100%;
 }

 .form-container{
   display:flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 }

 .form-group{
   width: 25%;
 }

 label{
   color: white;
   font-size: 100%;
   font-family: Roboto;
   text-transform: uppercase;
   
 }
 input[type="text"]{
   display: block;
   margin: 30px auto;
   padding: 8px;
   width: 100%;
   border-radius: 12px;
 }

 input[type="submit"] {
   display: block;
   margin: 30px auto;
   padding: 8px;
   width: 60%;
   border-radius: 12px;
   font-size: 90%;
   font-family: Roboto;
   text-transform: uppercase;
   color: white;
   background-color: #57606f;
   border-color: #57606f;
   transition: background-color 0.50s,border-color 0.50s;
 }

 input[type="submit"]:hover{
   background-color:#2ed573;
   border-color: #2ed573;
 }

 footer{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Roboto;
   font-size: 90%;
   height: 5%;
   background-color: #3d3d3d;
   color: white;
 }
 /*END OF CONTACT SECTION*/
